.gird {
  border-radius: 5px;
  overflow: hidden;
}

.gird .gridItemHeader {
  display: flex;
  background-color: #fafafa;
  text-align: center;
  padding: 5px;
  font-weight: 500;
  color: #00417e;
  border: 1px solid #ececec;
  align-items: center;
  justify-content: center;
}
.gird .gridItem {
  display: flex;
  border: 1px solid #ececec;
  text-align: center;
  padding: 5px 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}
.gird .rowLabel {
  margin-top: 20px;
  font-size: 12px;
}

.gird .colLabel {
  margin-bottom: 20px;
  font-size: 12px;
}
.gird .gridItem:hover {
  background-color: #f2f1f1;
}
