/* .ruleGroup-header {
  margin-bottom: 10px;
}

.ruleGroup-header .ruleGroup-addRule {
  margin: 0 5px;
}
.rule-value {
  margin-left: 10px;
  width: fit-content;
  margin: 10px 0;
} */
/* 
.queryBuilder .ant-input {
  width: auto;
} */
